In [12]:
import pandas as pd
from lightfm import LightFM
from lightfm.datasets import fetch_movielens
from lightfm.evaluation import precision_at_k
from scipy.sparse import csr_matrix
import numpy as np

In [13]:
df = pd.read_csv('./Django/recommendation_system/data/users_books.csv')

In [15]:
df.head()

,1,2,3,4,5,6,7,8,9,10,...,992,993,994,995,996,997,998,999,1000,id
0,8.7,7.5,8.2,5,6.6,5.2,5.9,5,7.1,8.6,...,0,0,0,0,0,0,0,0,0,1
1,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,2
2,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,3
3,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,4
4,0.0,0.0,0.0,0,0.0,0.0,0.0,0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,5

In [31]:
user = df[df.id==3]
user  = user.drop('id', axis=1)
user = user.iloc[0]

In [33]:
user[user !=0]

21    5.0
22    9.4
23    9.7
24    6.9
25    5.7
26    7.8
27    8.3
28    8.5
29    6.6
30    9.5
Name: 2, dtype: float64

1       0.0
2       0.0
3       0.0
4       0.0
5       0.0
6       0.0
7       0.0
8       0.0
9       0.0
10      0.0
11      0.0
12      0.0
13      0.0
14      0.0
15      0.0
16      0.0
17      0.0
18      0.0
19      0.0
20      0.0
21      5.0
22      9.4
23      9.7
24      6.9
25      5.7
26      7.8
27      8.3
28      8.5
29      6.6
30      9.5
       ...
971     0.0
972     0.0
973     0.0
974     0.0
975     0.0
976     0.0
977     0.0
978     0.0
979     0.0
980     0.0
981     0.0
982     0.0
983     0.0
984     0.0
985     0.0
986     0.0
987     0.0
988     0.0
989     0.0
990     0.0
991     0.0
992     0.0
993     0.0
994     0.0
995     0.0
996     0.0
997     0.0
998     0.0
999     0.0
1000    0.0
Name: 2, Length: 1000, dtype: float64

In [34]:
data = csr_matrix(df.drop('id',axis=1).values)

# Instantiate and train the model
model = LightFM(loss='warp')
model.fit(data, epochs=30, num_threads=2)

# Evaluate the trained model

In [29]:
# user_book_interaction = pd.pivot_table(interactions_selected, index='user_id', columns='book_id', values='rating')
# fill missing values with 0
# user_book_interaction = user_book_interaction.fillna(0)
user_id = list(df.index)
user_dict = {}
counter = 0 
for i in user_id:
    user_dict[i] = counter
    counter += 1
# convert to csr matrix

,1,2,3,4,5,6,7,8,9,10,...,991,992,993,994,995,996,997,998,999,1000
0,8.7,7.5,8.2,5.0,6.6,5.2,5.9,5.0,7.1,8.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [47]:
id_user =  0
scores = pd.Series(model.predict(id_user,np.arange(1000)))

In [48]:
row_user = df.iloc[0]
know_user = row_user[row_user!=0]

In [49]:
scores = list(pd.Series(scores.sort_values(ascending=False).index))

In [50]:
recom = [score for score in scores if score not in know_user]

In [51]:
recom

[2,
 7,
 3,
 4,
 9,
 6,
 0,
 8,
 5,
 1,
 186,
 180,
 181,
 189,
 251,
 188,
 182,
 187,
 256,
 146,
 149,
 258,
 253,
 257,
 145,
 250,
 185,
 252,
 141,
 255,
 123,
 148,
 259,
 142,
 196,
 193,
 254,
 184,
 144,
 183,
 192,
 143,
 198,
 154,
 197,
 128,
 21,
 119,
 29,
 129,
 150,
 23,
 190,
 147,
 122,
 140,
 155,
 28,
 235,
 191,
 94,
 158,
 195,
 157,
 153,
 26,
 151,
 25,
 118,
 114,
 237,
 233,
 55,
 24,
 50,
 56,
 95,
 238,
 159,
 156,
 20,
 127,
 219,
 152,
 54,
 120,
 97,
 167,
 117,
 13,
 103,
 53,
 121,
 17,
 93,
 161,
 124,
 57,
 91,
 68,
 110,
 232,
 58,
 194,
 126,
 160,
 10,
 239,
 234,
 15,
 52,
 199,
 59,
 112,
 116,
 19,
 14,
 173,
 218,
 164,
 242,
 231,
 216,
 163,
 115,
 16,
 168,
 22,
 111,
 236,
 63,
 90,
 113,
 51,
 165,
 162,
 177,
 80,
 212,
 65,
 240,
 108,
 96,
 174,
 176,
 215,
 62,
 125,
 249,
 211,
 178,
 716,
 243,
 60,
 64,
 166,
 66,
 439,
 509,
 82,
 325,
 99,
 225,
 85,
 229,
 169,
 660,
 109,
 967,
 777,
 98,
 652,
 470,
 687,
 790,
 866,
 210,
 292,
 761,
 84,
 638,
 246,
 175,
 620,
 688,
 61,
 750,
 395,
 67,
 653,
 86,
 977,
 975,
 461,
 355,
 833,
 279,
 204,
 172,
 443,
 928,
 104,
 705,
 200,
 247,
 789,
 885,
 295,
 400,
 838,
 945,
 269,
 787,
 534,
 264,
 244,
 959,
 915,
 603,
 543,
 457,
 864,
 304,
 501,
 205,
 707,
 796,
 486,
 100,
 328,
 81,
 487,
 745,
 879,
 759,
 230,
 891,
 691,
 401,
 453,
 834,
 92,
 667,
 703,
 744,
 207,
 503,
 684,
 898,
 88,
 894,
 686,
 338,
 916,
 632,
 105,
 828,
 791,
 786,
 481,
 465,
 848,
 77,
 346,
 735,
 314,
 511,
 385,
 888,
 450,
 455,
 478,
 18,
 842,
 352,
 752,
 547,
 665,
 294,
 406,
 605,
 973,
 213,
 998,
 755,
 530,
 659,
 223,
 106,
 593,
 500,
 505,
 903,
 904,
 800,
 12,
 678,
 179,
 83,
 482,
 771,
 336,
 942,
 440,
 548,
 694,
 640,
 306,
 857,
 203,
 371,
 375,
 845,
 689,
 27,
 669,
 222,
 897,
 383,
 872,
 558,
 762,
 79,
 297,
 493,
 407,
 938,
 990,
 532,
 508,
 982,
 248,
 201,
 224,
 655,
 226,
 725,
 702,
 11,
 976,
 323,
 202,
 567,
 477,
 522,
 738,
 301,
 136,
 895,
 265,
 869,
 273,
 329,
 586,
 387,
 214,
 876,
 865,
 581,
 525,
 469,
 241,
 624,
 606,
 87,
 795,
 774,
 283,
 528,
 419,
 206,
 332,
 936,
 327,
 803,
 899,
 533,
 619,
 715,
 813,
 824,
 668,
 911,
 595,
 397,
 784,
 921,
 730,
 556,
 379,
 836,
 275,
 447,
 261,
 376,
 454,
 717,
 962,
 847,
 171,
 609,
 484,
 131,
 741,
 40,
 780,
 821,
 683,
 310,
 322,
 396,
 852,
 972,
 951,
 535,
 347,
 766,
 930,
 473,
 221,
 642,
 267,
 779,
 706,
 630,
 101,
 552,
 883,
 71,
 783,
 594,
 782,
 425,
 170,
 720,
 825,
 954,
 902,
 228,
 423,
 690,
 217,
 539,
 452,
 734,
 651,
 721,
 367,
 524,
 835,
 680,
 444,
 268,
 74,
 816,
 674,
 389,
 758,
 540,
 426,
 284,
 541,
 479,
 134,
 333,
 591,
 445,
 349,
 804,
 647,
 935,
 614,
 560,
 563,
 102,
 830,
 365,
 736,
 775,
 810,
 260,
 963,
 843,
 377,
 573,
 305,
 485,
 220,
 615,
 827,
 645,
 364,
 382,
 566,
 592,
 381,
 875,
 107,
 417,
 429,
 345,
 579,
 430,
 773,
 393,
 617,
 456,
 641,
 289,
 495,
 602,
 739,
 887,
 427,
 337,
 890,
 627,
 527,
 75,
 480,
 72,
 421,
 798,
 281,
 644,
 354,
 405,
 711,
 564,
 699,
 956,
 517,
 307,
 359,
 965,
 924,
 475,
 844,
 974,
 370,
 946,
 428,
 846,
 859,
 808,
 311,
 422,
 697,
 616,
 626,
 296,
 733,
 948,
 718,
 372,
 378,
 227,
 285,
 743,
 673,
 420,
 300,
 324,
 466,
 701,
 912,
 342,
 823,
 599,
 334,
 693,
 209,
 767,
 772,
 878,
 649,
 839,
 817,
 360,
 438,
 713,
 700,
 769,
 521,
 676,
 512,
 654,
 729,
 696,
 497,
 434,
 542,
 490,
 339,
 723,
 309,
 266,
 952,
 357,
 889,
 308,
 553,
 331,
 747,
 361,
 931,
 679,
 398,
 926,
 892,
 544,
 299,
 315,
 403,
 754,
 514,
 714,
 770,
 363,
 291,
 925,
 491,
 907,
 837,
 531,
 704,
 877,
 988,
 139,
 927,
 760,
 408,
 633,
 854,
 446,
 504,
 559,
 589,
 330,
 748,
 507,
 598,
 797,
 860,
 523,
 788,
 463,
 448,
 416,
 950,
 901,
 985,
 656,
 732,
 753,
 905,
 964,
 433,
 966,
 368,
 695,
 600,
 263,
 464,
 572,
 728,
 763,
 607,
 502,
 987,
 692,
 756,
 565,
 681,
 510,
 719,
 554,
 970,
 41,
 971,
 468,
 913,
 277,
 604,
 740,
 829,
 437,
 335,
 551,
 272,
 590,
 944,
 549,
 820,
 849,
 133,
 432,
 634,
 628,
 853,
 815,
 610,
 637,
 312,
 981,
 380,
 635,
 287,
 993,
 939,
 862,
 781,
 612,
 282,
 923,
 886,
 76,
 618,
 518,
 356,
 298,
 778,
 271,
 550,
 262,
 873,
 270,
 538,
 520,
 601,
 625,
 286,
 31,
 290,
 768,
 362,
 643,
 584,
 321,
 418,
 414,
 409,
 961,
 561,
 404,
 910,
 940,
 130,
 650,
 629,
 576,
 937,
 137,
 483,
 958,
 460,
 995,
 585,
 498,
 358,
 776,
 597,
 506,
 840,
 663,
 42,
 727,
 737,
 373,
 43,
 867,
 661,
 953,
 516,
 671,
 955,
 882,
 893,
 986,
 818,
 441,
 863,
 814,
 303,
 472,
 947,
 568,
 557,
 658,
 388,
 812,
 708,
 896,
 577,
 861,
 731,
 880,
 611,
 919,
 436,
 492,
 571,
 957,
 569,
 48,
 949,
 664,
 499,
 831,
 871,
 636,
 874,
 807,
 467,
 672,
 45,
 313,
 722,
 920,
 682,
 819,
 811,
 675,
 623,
 757,
 802,
 992,
 908,
 70,
 384,
 394,
 822,
 809,
 317,
 399,
 662,
 392,
 326,
 316,
 969,
 519,
 366,
 340,
 49,
 37,
 712,
 462,
 685,
 343,
 69,
 411,
 726,
 288,
 278,
 858,
 968,
 35,
 353,
 631,
 922,
 785,
 374,
 841,
 390,
 555,
 458,
 431,
 801,
 449,
 319,
 793,
 274,
 648,
 666,
 746,
 884,
 582,
 698,
 621,
 562,
 851,
 476,
 832,
 646,
 742,
 749,
 341,
 984,
 44,
 805,
 574,
 850,
 38,
 583,
 856,
 545,
 138,
 451,
 960,
 386,
 941,
 412,
 415,
 488,
 613,
 587,
 929,
 276,
 33,
 578,
 435,
 424,
 870,
 657,
 799,
 724,
 914,
 442,
 943,
 570,
 46,
 536,
 999,
 245,
 369,
 580,
 496,
 546,
 855,
 513,
 764,
 391,
 996,
 34,
 30,
 351,
 932,
 881,
 413,
 751,
 826,
 529,
 459,
 677,
 989,
 868,
 575,
 918,
 537,
 350,
 474,
 639,
 934,
 280,
 89,
 765,
 318,
 909,
 402,
 979,
 794,
 792,
 320,
 994,
 709,
 588,
 32,
 806,
 344,
 302,
 917,
 36,
 410,
 596,
 978,
 983,
 991,
 526,
 710,
 980,
 670,
 348,
 515,
 933,
 906,
 73,
 997,
 208,
 78,
 293,
 608,
 471,
 489,
 494,
 900,
 132,
 135,
 39,
 622,
 47]