In [77]:
import sys
sys.path.append('./')

In [78]:
import pandas as pd

In [79]:
path = '../data/csv/'
name = 'books.csv'
full_name = path+ name

In [80]:
df_books = pd.read_csv(full_name)

In [81]:
df_books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
id            1000 non-null int64
name          1000 non-null object
author        1000 non-null object
genre         1000 non-null object
seria         796 non-null object
rating        1000 non-null float64
count_page    1000 non-null int64
language      1000 non-null object
content       486 non-null object
img_url       1000 non-null object
dtypes: float64(1), int64(2), object(7)
memory usage: 78.2+ KB

In [82]:
df_books.head()

,id,name,author,genre,seria,rating,count_page,language,content,img_url
0,0,"Диетологи, я вам не верю! Книга-разоблачение",Воронин Андрей,Медицина и здоровье,NaN,9.95,3,Русский,"Прочитай и похудей. И узнай, что реклама е...",https://www.litmir.me/data/Book/0/684000/68414...
1,1,Гарри Поттер и Кубок огня,Роулинг Джоан Кэтлин,Зарубежное фэнтези Фэнтези,Гарри Поттер #4,9.75,14,Русский,Гарри Поттеру предстоит четвёртый год обучени...,https://www.litmir.me/data/Book/0/164000/16471...
2,2,Гарри Поттер и узник Азкабана,Роулинг Джоан Кэтлин,Зарубежное фэнтези Фэнтези,Гарри Поттер #3,9.74,8,Русский,Двенадцать долгих лет в Азкабане - мрачной тюр...,https://www.litmir.me/data/Book/0/37000/37514/...
3,3,В списках не значился,Васильев Борис Львович,Книги о войне Классическая литература,NaN,9.73,13,Русский,На крайнем западе нашей страны стоит Брестская...,https://www.litmir.me/data/Book/0/29000/29094/...
4,4,Гарри Поттер и философский камень,Роулинг Джоан Кэтлин,Зарубежное фэнтези Фэнтези,Гарри Поттер #1,9.73,6,Русский,Одиннадцатилетний мальчик-сирота Гарри Поттер...,https://www.litmir.me/data/Book/0/140000/14073...

In [83]:
name_preproc = 'preprocessing_books.csv'
full_preproc = path + name_preproc

In [84]:
df_books_preproc = pd.read_csv(full_preproc)

In [85]:
df_books_preproc.head()

,"Эссе, очерк, этюд, набросок",Историческая,Книги по психологии,Ужасы,Классика,Прочая религиозная литература,Эпическая,Юмористическое,Домашние животные,Биографии и мемуары,...,Шустерман Нил,Щепетнов Евгений Владимирович,Щерба Наталья Васильевна,Эдриан Лара,Эльтеррус Иар,Эльтеррус Иар Садов Сергей Александрович,Эндрюс Илона,де Сент-Экзюпери Антуан,Русский,Украинский
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0